<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
</head>
<body>
	<h1 align="center" class="display-5 fw-bold">Status</h1>
<div class="col-lg-6 mx-auto">
  <h1 align="center"><p class="lead mb-4">Ваш закааз успешно отправлен</p></h1>
  <h1 align="center"><p class="lead mb-4"></p></h1>
  <h1 align="center"><p class="lead mb-4">Примерное прибытие вашено заказа </p></h1>
  <h1 align="center"><p class="lead mb-4">25-25 /p></h1>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
  </div>
</div>

</body>
</html>